ExpenseTracker/ExpenseTracker/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52000/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExpenseTrackingService" />
  <xs:element name="Add_Income">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExpenseTrackingService" minOccurs="0" name="Object" nillable="true" type="q1:ExpenseDefinitionOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_IncomeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Expense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExpenseTrackingService" minOccurs="0" name="Object" nillable="true" type="q2:ExpenseDefinitionOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_ExpenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Income">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExpenseTrackingService" minOccurs="0" name="Object" nillable="true" type="q3:ExpenseDefinitionOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_IncomeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Expense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExpenseTrackingService" minOccurs="0" name="Object" nillable="true" type="q4:ExpenseDefinitionOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_ExpenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Income">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_IncomeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Expense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ExpenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Income">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_IncomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExpenseTrackingService" minOccurs="0" name="Get_IncomeResult" nillable="true" type="q5:ArrayOfIncome" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Expense">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ExpenseTrackingService" minOccurs="0" name="Get_ExpenseResult" nillable="true" type="q6:ArrayOfExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Income_By_Id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Income_By_IdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ExpenseTrackingService" minOccurs="0" name="Get_Income_By_IdResult" nillable="true" type="q7:Income" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Expense_By_Id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Expense_By_IdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ExpenseTrackingService" minOccurs="0" name="Get_Expense_By_IdResult" nillable="true" type="q8:Expense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>