ExpenseTracker/ExpenseTracker/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExpenseTrackingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExpenseTrackingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExpenseDefinitionOfstringint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ExpenseDefinitionOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/ExpenseTrackingService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpenseDefinitionOfstringint" nillable="true" type="tns:ExpenseDefinitionOfstringint" />
  <xs:complexType name="ArrayOfIncome">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Income" nillable="true" type="tns:Income" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncome" nillable="true" type="tns:ArrayOfIncome" />
  <xs:complexType name="Income">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Income" nillable="true" type="tns:Income" />
  <xs:complexType name="ArrayOfExpense">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Expense" nillable="true" type="tns:Expense" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpense" nillable="true" type="tns:ArrayOfExpense" />
  <xs:complexType name="Expense">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Expense" nillable="true" type="tns:Expense" />
</xs:schema>